#nav-wrapper{
    background-color: #ffab40;
}
#cuadrar{
    margin-left: 385px;
    margin-right: 385px;
}
#cuadrar2{
    margin-left: 385px;
    margin-right: 385px;
}
#cuadrar3{
    margin-left: 385px;
    margin-right: 385px;
}