<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <nav style="background-color: #ffab40;">      
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">&nbsp;&nbsp;Julian Jose Sossa Cruz</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#perfil">Perfil profesional</a></li>
                <li><a href="#datos">Datos personales</a></li>
                <li><a href="#formacion">Formación academica</a></li>
            </ul>
        </div>
    </nav>
    <br><br>
    <div id="cuadrar" class="row">
        <div  id="perfil" class="">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><center> PERFIL PROFESIONAL</center></span>
              <p>Me   caracterizo ante todo por  tener una   sólida  formación humanitaria,   responsable,
                exigente, leal,  discreto,  con fácil  adaptación al cambio,  y  cumplidor  de  las  órdenes  
                impartidas   por  los  superiores,  con  buenas  relaciones  interpersonales,  y   por  ser  
                una  persona  con la  capacidad de innovar,  y de ser  creativa,   y  con la  disponibilidad  
                para  asumir   funciones que  impliquen   liderazgo y gestión, procurando  un adecuado  ambiente  
                de  trabajo, que me permita  un  excelente  desempeño  con responsabilidad  en forma  ordenada,  
                clara y analítica. </p>
            </div>
            <div class="card-action">
              <a href="https://www.linkedin.com/in/julian-sossa-4060871bb/">Perfil en LinkedIn</a>
            </div>
          </div>
        </div>
    </div>
    <div id="cuadrar2" class="row">
        <div  id="datos" class="">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><center>DATOS PERSONALES</center></span>
              <p>NOMBRES Y APELLIDOS:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Julian Jose Sossa Cruz</p>
              <p>FECHA DE NACIMIENTO:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4   de   Noviembre  de  2001.</p>
              <p>LUGAR DE NACIMIENTO:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guavata   Santander.</p>
              <p>CÉDULA DE CIUDADANIA:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1005248910  de   Guavata.</p>
              <p>ESTADO CIVIL:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Soltero.</p>
              <p>DIRECCION:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Carrera 4 No 3-33  Guavata.</p>
              <p>CELULAR:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3178156075 </p>
              <p>E-MAIL:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;juliansossa6@gmail.com </p>
            </div>
          </div>
        </div>
    </div>
    <div id="cuadrar3" class="row">
        <div  id="formacion" class="">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><center>FORMACION ACADEMICA</center></span><br>
              <p>Estudios Secundarios: <br> ESCUELA NORMAL SUPERIOR ANTONIA SANTOS. <br>
                            Puente Nacional. <br>
                          2018.</p>
            </div>
            <div class="card-action">
              <a href="http://www.ensaspuentenacional.edu.co/">ver Pagina web de la ENSAS.</a>
            </div>
          </div>
        </div>
      </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>